{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
 {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/gr.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

 {% endblock %}   

<section class="deal-of-week set-bg spad" >
 <div class="deal">
  <!-- <div class="row mt-5"> -->


<h1 text-align="center">UMA Training Program for RWS Schemes Audit</h1>

<br><h3 text-align="center">Project Description</h3>

<p>A key strategic intervention for reforming rural water supply sector is to have third party evaluation of water supply schemes which would help enhance the accountability of the water supply agencies towards bringing about all round improvement in the management drinking water supply schemes--the process of planning, design, operation and maintenance, and water safety and security measures. This training program aims to build capacity of evaluation and build strategic partnership across educational institutions in Maharashtra under the aegis of Unnat Maharashtra Abhiyan (UMA). This program is being conducted jointly by UNICEF Mumbai, IRAP Hyderabad and CTARA IIT Bombay under the project for Improving the performance of RWS and Sanitation sector in Maharashtra.</p>

<h3 text-align="center">Principal Investigator</h3>

<p><a href="http://irapindia.org/">IRAP</a>
	<a href="http://irapindia.org/">Hyderabad TDSC</a>
	<a href="http://www.iitb.ac.in/ctara/">CTARA</a>
	<a href="http://www.iitb.ac.in/">IIT Bombay UNICEF</a>
	<a href="https://www.unicef.org/india/">Mumbai</a>
</p>

<h3 text-align="center">Team</h3>

<p>Abhishek Kumar Sinha, Vaishali Bharambe, Praneeth Kadambala, Oshin Dharap (UMA representative) </p>

<h3 text-align="center">Project Photo</h3>
<img src="{% static 'img/wrkshp1.png' %}" alt="" style="width:30%;">


<h3 text-align="center">Project Deliverables</h3>
<p><br>1. Training manuals on planning, design, operation, and monitoring & evaluation of rural water supply schemes, appropriate rural sanitation and waste water management technologies which seek to apply international concepts and practices in the rural water supply sector, with particular reference to objectives and criteria for planning, design and performance assessment of rural water supply schemes that ensure sustainability developed. <br>
<br> 2. 25-30 Engineering College teachers from 10-15 colleges from Maharashtra are trained to use advanced concepts and practices to plan, design, and carry out monitoring and evaluation of rural water supply and sanitation schemes, using the contents of the module so developed<br> <br>3. Facilitated the trainees to apply the learning from the training for performance assessment (evaluation) of two existing water supply schemes; and identify concrete interventions for improvement<br> <br> 4. Document: a] the learnings and experience from the training (the training outputs); and, b] the actual application of the knowledge from training in the field (training outcomes). </p>

<h3 text-align="center">Project Documents</h3>
<p>List of UMA GRs <a href="http://www.ctara.iitb.ac.in/en/uma-government-resolutions">link</a><br><br>
Important GRs relevant to RWS <a href="https://www.iitb.ac.in/ctara/en/ctara/tdsc/gov_res">link</a></p><br>

<h3 text-align="center">Relevant reading material <a href="https://www.iitb.ac.in/ctara/en/tdsc-projects/uma-rws/reading_material">link</a></h3><br>

<h3 text-align="center"> Model DPR and scheme related documents <a href="https://www.iitb.ac.in/ctara/en/rws_model_DPR">link</a></h3><br>

<h3 text-align="center"> Outreach page <a href="">link</a></h3><br>

<h3 text-align="center">Project Outputs</h3>
<h5 text-align="center">First Workshop - UNICEF, IRAP and CTARA conducted WASH Training at RIT Sangli, Sep 24-26, 2017  </h5>
  
  <p>Successfully completed a 3 day workshop focused on training the participants on advanced concepts and practices pertaining to objectives and criteria for planning, and management of rural water supply schemes for ensuring sustainability of the system, and optimum public health outcomes. A total of 58 participants/trainees, including 30 faculty members and 30 students, representing 15 engineering colleges spread across Maharashtra were selected for the training programme. During the workshop training team introduced methodology, case studies, templates and tools for RWS assessment. Colleges were assigned to roll out assessment in local regions for two schemes by taking field and technical support from CTARA and IRAP in the next 4 moths (Oct 2017 - Jan 2018).</p>

 <h3 text-align="center">Programme Agenda <a href="https://www.iitb.ac.in/ctara/en/system/files/Programme%20Agenda.pdf#overlay-context=user">Programme Agenda</a></h3><br>

 <br><h3 text-align="center">Participant list  <a href="https://www.iitb.ac.in/ctara/en/system/files/Participants%20List.pdf#overlay-context=user">Participant list</a></h3><br>

 <br><h3 text-align="center">Workshop Session <a href="https://www.dropbox.com/sh/6ngfc1nb0nu03ou/AACc2tozr1XDPGR0gMV5k9v7a?dl=0">link</a></h3>

<br><h3 text-align="center">April 2018:<p> Compendium on Design and Analysis of Piped Water Supply Schemes released by Hon. Chief Minister of Maharashtra <a href="http://www.ctara.iitb.ac.in/en/system/files/uma-unicef-iitb-irap-rws_0.pdf">pdf</a></p></h3>


</div>
<!-- </div> -->
</section>

{% endblock %}