{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
 {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/gr.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>

 {% endblock %}   

<section class="deal-of-week set-bg spad" >
 <div class="deal">

  <br><h2 class="text-center" style="color:brown;font:simplifica;"><b>---------- List of Engineering Colleges- Phase II ----------</b></h2>

  <br><table style="width:100%">
  <tr>
    <th><b>Sr.No</b></th>
    <th>Name of institution</th> 
    <th>District</th>
    <th>UMA Nodal Officer</th>
    <th>Phone Number</th>
    <th>Email ID</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Tatyasaheb Kore Institute of Engineering and Technology, Warananagar</td>
    <td>Kolhapur</td>
    <td>Dr. Dhanraj Patil</td>
    <td>8888850801, 8208989001</td>
    <td>dmpatil@tkietwarana.org, patil.dhanaraj@gmail.com</td>
  </tr>
  <tr>
    <td>2</td>
    <td>D.Y. Patil College of Engineering and Technology, Kolhapur</td>
    <td>Kolhapur</td>
    <td>Prof Abhijeet Ghute-Patil</td>
    <td>7420911117 / 9765597999</td>
    <td>abhijeetpaatil699@gmail.com</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Kolhapur Institute of Technology College of Engineering, Kolhapur</td>
    <td>Kolhapur</td>
    <td>Prof. Sheetal Varur</td>
    <td>9225815108</td>
    <td>sheetalsvarur@gmail.com</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Gramodyogik Shikshan Mandal's Maharashtra Institute of Technology, Aurangabad</td>
    <td>Aurangabad</td>
    <td>Dr. Prashant Ambad</td>
    <td>0240-2375241, 9422708028</td>
    <td>prashant.ambad@mit.asia</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Gharda Foundation's Gharda Institute of Technology,Khed, Ratnagiri</td>
    <td>Ratnagiri</td>
    <td>Prof. Snehal Gujarathi</td>
    <td>9011903343</td>
    <td>ssgujarathi@git-india.edu.in</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Amrutvahini Sheti & Shikshan Vikas Sanstha's Amrutvahini College of Engineering, Sangamner  </td>
    <td>Ahmednagar</td>
    <td>Dr. V. D. Wakchaure</td>
    <td>9850683641</td>
    <td>hod.mech@avcoe.org</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Shetkari Shikshan Mandal's Pad. Vasantraodada Patil Institute of Technology, Budhgaon, Sangli</td>
    <td>Sangli</td>
    <td>Prof. N.V Hargude</td>
    <td>9890133778</td>
    <td>nvhargude@gmail.com</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Prof. Ram Meghe Institute of Technology & Research, Amravati</td>
    <td>Amravati</td>
    <td>Dr. NW Kale</td>
    <td>9422917672/td>
    <td>principal@mitra.ac.in</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Rayat Shikshan Sanstha's Karmaveer Bhaurao Patil College of Engineering, Satara</td>
    <td>Satara/td>
    <td>Prof. Anand Tapase</td>
    <td>9763305600</td>
    <td>tapaseanand@gmail.com </td>
  </tr>
  <tr>
    <td>10</td>
    <td>Shri Shivaji Vidya Prasarak Sanstha's Late Bapusaheb Shivaji Rao Deore College of Engineering,Dhule</td>
    <td>Dhule</td>
    <td>Prof. Hemant Kuwar</td>
    <td>9579452892</td>
    <td>kuwarhemant28@gmail.com</td>
  </tr>
  <tr>
    <td>11</td>
    <td>Walchand Institute of Technology, Solapur</td>
    <td>Solapur</td>
    <td>Dr. S. S. Patil</td>
    <td>O217-2653040, 9422065735</td>
    <td>patilss1962@gmail.com</td>
  </tr>
  <tr>
    <td>12</td>
    <td>SVERI’s College of Engineering Pandharpur</td>
    <td>Solapur</td>
    <td>Dr. Prashant Pawar</td>
    <td>9665625903</td>
    <td>pawarpm@sveri.ac.in</td>
  </tr>

</table>

</div>
</section>
{% endblock %}
