 {% extends "base.html" %} 
 {% load static %} 
 {% block content %}

<style>
.card
  {
    border-style: solid;
    border-color: #0000A0;
    /*background-color:#D8E9FA;
    
    margin-left: 500px;
    margin-right: 400px;*/
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
</style>



<br><br>
<h2 style="text-align:center;"><b> UMA Advisory Committee <b></h2><br>
      

<div class="row" style="text-align:center">
  <div class="col-sm-6">
    <div class="card" margin-left: 150px;> 
      <div class="card-body">
        <h5 class="card-title"><b> Prof. Milind Sohoni </b></h5>
    <p class="card-text"><b>Professor, CSE and CTARA <br> Chairperson, UMA Advisory Committee <br> sohoni@cse.iitb.ac.in </b></p>

    </div>
    </div>
    </div>


    <div class="col-sm-6" style="text-align:center;">
        <div class="card" margin-left: 150px;>
            <div class="card-body">
                <h5 class="card-title"><b> Dr. Abhay Wagh </b></h5>
                <p class="card-text"><b>Director, DTE <br> Member Secretary, UMA Advisory Committee <br> director@dtemaharashtra.gov.in </b></p>

            </div>
        </div>
    </div>
    </div><br>



    <br>
    <h2 style="text-align:center;"><b> Program Coordination Unit <b></h2><br><br>   



<div class="row" style="text-align:center">
  <div class="col-sm-6" >
   <div class="card"> 
     <div class="card-body">




      <h2 style="text-align:center;"><b> UMA Program Cell at IITB </b></h2><br>


    <div class="card w-70" style="text-align:center">
        <div class="card-body">
            <h5 class="card-title"><b> Mr. Rajaram Desai </b></h5>
            <p class="card-text"><b>Senior Project Manager <br> UMA Cell <br> rajdesai01@yahoo.com </b></p>

        </div>
    </div><br>

    <div class="card w-70" style="text-align:center">
        <div class="card-body">
            <h5 class="card-title"><b> Ms. Oshin Dharap </b></h5>
            <p class="card-text"><b>Junior Project Manager <br> UMA Cell <br> oshindharap@gmail.com </b></p>

        </div>
    </div><br>

    <div class="card w-70" style="text-align:center">
        <div class="card-body">
            <h5 class="card-title"><b> Animesh Nautiyal </b></h5>
            <p class="card-text"><b> UMA Cell <br> nautiyalanimesh@gmail.com </b></p>

        </div>
    </div><br>

    <div class="card w-70" style="text-align:center">
        <div class="card-body">
            <h5 class="card-title"><b> Annupriya Singh </b></h5>
            <p class="card-text"><b> Intern <br> UMA Cell <br> anupriya2215@gmail.com </b></p>

        </div>
    </div><br>

    <div class="card w-70" style="text-align:center">
        <div class="card-body">
            <h5 class="card-title"><b> Tanishq Dayma </b></h5>
            <p class="card-text"><b> Intern <br> UMA Cell <br> tanishqdayma@gmail.com  </b></p>

        </div>
    </div>
    </div>
    </div>
    </div><br><br>


    <div class="col-sm-6" style="text-align:center;">
        <div class="card">
            <div class="card-body">



                <h2 style="text-align:center;"><b> PCU at DTE </b></h2><br>

                <div class="card w-70" style="text-align:center">
                    <div class="card-body">


                        <h5 class="card-title"><b> Dr. Suresh Yavalkar </b></h5>
                        <p class="card-text"><b>Joint Director, DTE <br> Nodal Officer for UMA <br> PCU at DTE <br> spyavalkar@dtemaharashtra.gov.in </b></p>

                    </div>
                </div><br>

                <div class="card w-70" style="text-align:center">
                    <div class="card-body">
                        <h5 class="card-title"><b> Mr. Sumit Vengurlekar </b></h5>
                        <p class="card-text"><b>Project Administrative Assistant <br> PCU at DTE <br> sum.vengu03@gmail.com <b></p>
    
  </div>
</div>
</div><br><br>

  </div>
    </div>
  </div><br><br> 


<!--   <br><br><h2 style="text-align:center;"><b> Technology and Development Solution Cell <b></h2><br>
      

<div class="row" style="text-align:center">
  <div class="col-sm-6">
    <div class="card"> 
      <div class="card-body">
       
        
      </div>
    </div>
  </div>
 

  <div class="col-sm-5" style="text-align:center;">
    <div class="card">
      <div class="card-body">
   
       
      </div>
    </div>
  </div>
</div><br><br>

<!-- <br><br><h2 style="text-align:center;"><b> UMA Advisory Committee <b></h2><br>


<div class="card mb-6" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/ms.jpg' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><b> Prof. Milind Sohoni </b></h5>
                            <p class="card-text"><b>Professor, CSE and CTARA <br> Chairperson, UMA Advisory Committee <br> sohoni@cse.iitb.ac.in </b></p>

                    </div>
                </div>
            </div>



            <div class="row no-gutters">
                <div class="col-md-4 ml-auto">
                    <img src="{% static '' %}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><b> Dr. Abhay Wagh </b></h5>
                        <p class="card-text"><b>Director, DTE <br> Member Secretary, UMA Advisory Committee <br> director@dtemaharashtra.gov.in </b></p>

                    </div>
                </div>
            </div>

        </div> --> {% endblock %}